@use 'variables' as *;
@use 'mixins' as *; 


footer {
    background-color: $brandColor;
    height: 50px;
    margin-top: 180px;
    padding: 0;
    text-align:center

}

footer p{
    margin-top: 20px;
    padding-top: 15px;
    
}
