//Main

@use 'variables' as *;

main{
    padding: 0 $pad;
   
    background-color: white;

}



.aboutUs h2{ text-align: center;
    color:#006341;

}

.description h1{
    text-align: center;
    color: #006341;
}

.description h2{
    color: $brandColor;
}


.description img {
    width:20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.maps h2 {
    text-align: center;
    color:#006341;
    
}

//reservation page//

.reserve {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}
.reserve h2, p, h3 {
    text-align: center;
}
fieldset {
    border: 2px ridge gray;
	box-shadow: 0px 2px 2px gray;
}
#info-subsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#info-section label, #info-section input {
    display: block;
}
form input {
    text-align: center;
    background-color: silver;
}
textarea {
    display: block;
    max-width: 400px;
    width: 100%;
    height: 140px;
    margin-top: 12px;
    margin-bottom: 1em;
}
.date-time-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.date-time, .time-group {
     margin-top: -30px;
     display: table;
     padding-top: 20px;
}
.submit{
    margin-top: 20px;
}
#submit-button {
    background-color: #e68923;
    padding: 3px 10px;
    box-shadow: 1px 1px 1px silver;
    float: right;
}
@media (min-width: $tablet) {
    textarea {
        display: block;
        max-width: 1000px;
        width: 100%;
        height: 140px;
        margin-top: 12px;
        margin-bottom: 1em;
    }
}
    
@media (min-width: $desktop) {
    textarea {
        display: block;
        max-width: 1200px;
        width: 100%;
        height: 140px;
        margin-top: 12px;
        margin-bottom: 1em;
    }
}
      

//menu page//
.menu-banner {
    margin: 0 auto;
    width: 100%;
}
.menu-banner img {
    filter: brightness(90%), drop-shadow(5px 5px 5px gray);
}
.category-container {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #2e6864;
    margin: 0;
    margin-top: -5px;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 90%;
    box-shadow: 3px 3px 5px gray;
}
.category-section {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;

}
.category-section img {
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                1px 2px 2px rgba(0,0,0,0.11), 
                2px 4px 4px rgba(0,0,0,0.11), 
                3px 8px 8px rgba(0,0,0,0.11), 
                4px 16px 16px rgba(0,0,0,0.11), 
                5px 32px 32px rgba(0,0,0,0.11);
}

.category-section p {
    padding-top: 20px;
}
.menu-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 0;
    
}
.menu-category a {
    text-decoration: none;
    color: white;
    margin: 15px;
}
.menu-category a:active {
    color: red;
}
.category-title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -5px;
}
.starter, .vegan, .burrito, .taco {
    margin: auto 1em;
    flex: 1 1 200px;
}

@media (min-width: $tablet) {
    .starter , .vegan, .burrito, .taco {
        margin: 1em;
    }
    .menu-category {
        justify-content: space-evenly;
    }
}
@media (min-width: $desktop) {
    .category-section img:hover {
        transform: scale(1.16); 
      }
      .category-section img {
        transition: transform .2s;
      }
}


// Did not change ID for the map that we got externally as it breaks the CSS :(
#wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3 {
    display: block;
    margin: 0 auto;
    

}