//Wrapper

@use 'variables' as *;
@use 'mixins' as *;

.wrapper {
    max-width: 1200px;
    background-color: $bgColorWrapper;
    @include mc;
    margin-bottom: -179px;
    
}

.wrapper .btn{
    transition: all 0.4s ease 0s;
    text-decoration: none;
	color: white;
    margin: 0 auto;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 14px;
    font-weight: bold;
    
}

.wrapper .btn:hover {
    color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
}



